@tailwind base;
@tailwind components;
@tailwind utilities;


.card.hovered {
  transform: translateY(-20px); 
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 4px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .5s ease-in-out;
}

.link-underline-color {
  background-image: linear-gradient(transparent, transparent), linear-gradient(hsl(193, 55%, 60%), hsl(191, 55%, 82%))
}

.link-underline:hover {
  background-size: 100%  4px;
  background-position: 0 100%
}

@layer base {   

    :root {
        --color-secondary: 208 7% 46%;

        --color-warning-400: 33 93% 60%;
        --color-warning-500: 33 93% 50%;
        --color-warning-700: 33 100% 45%;

        --color-danger-400: 355 97% 60%;
        --color-danger-500: 355 97% 50%;

        --color-blue-400: 219 100% 70%;
        --color-blue-800: 219 100% 14%;


        --color-grey-50: 0 0% 98%;
        --color-grey-100: 0 0% 93%;
        --color-grey-200: 0 0% 88%;
        --color-grey-300: 0 0% 75%;
        --color-grey-400: 0 0% 70%;
        --color-grey-500: 0 0% 65%;
        --color-grey-600: 0 0% 55%;
        --color-grey-700: 0 0% 45%;
        --color-grey-800: 0 0% 35%;
        --color-grey-900: 0 0% 25%;
        --color-grey-950: 0 0% 5%;

        --color-white:  0 0% 100%;
        --color-black:  0 0% 0%;

        --color-primary-50:191 58% 96%;
        --color-primary-100: 189 55% 90%;
        --color-primary-200: 191 55% 82%;
        --color-primary-300: 192 54% 66%;
        --color-primary-400: 193 50% 53%;
        --color-primary-500: 193 55% 43%;
        --color-primary-600: 197 54% 36%;
        --color-primary-700: 198 48% 31%;
        --color-primary-800: 199 41% 27%;
        --color-primary-900: 201 37% 24%;
        --color-primary-950: 202 47% 15%;

        
        --color-danger-50:0 57% 97%;
        --color-danger-200: 0 70% 89%;
        --color-danger-100: 0 67% 94%;
        --color-danger-300: 0 70% 82%;
        --color-danger-400: 0 68% 71%;
        --color-danger-500: 0 64% 60%;
        --color-danger-600: 0 54% 51%;
        --color-danger-700: 0 55% 43%;
        --color-danger-800: 0 52% 35%;
        --color-danger-900: 0 47% 31%;
        --color-danger-950: 0 57% 15%;
       /* !----------------- */

        --color-warning: var(--color-warning-500);
        --color-primary: var(--color-primary-500);
        --color-danger:  var(--color-danger-500);


        --color-elem-bg: var(--color-grey-100);
        --color-elem-border: var(--color-grey-500);

        /* --color-warning-contrast: var(--color-warning-700); */

        --color-bg: var(--color-grey-50);
        --color-text: var(--color-black);
        --color-text-contrast: var(--color-white);
        --color-text-low-contrast: var(--color-grey-800);

    }
   
    :root[data-theme="dark"] {
    
      --color-elem-bg: var(--color-grey-800);
      --color-elem-border: var(--color-grey-500);

      --color-bg: var(--color-grey-950);
      --color-text: 0 0% 100%;
      --color-text-contrast: var(--color-black);

      --color-text-low-contrast: var(--color-grey-800);

      --color-primary-950:191 58% 96%;
        --color-primary-900: 189 55% 90%;
        --color-primary-800: 191 55% 82%;
        --color-primary-700: 192 54% 66%;
        --color-primary-600: 193 50% 53%;
        --color-primary-500: 193 55% 43%;
        --color-primary-400: 197 54% 36%;
        --color-primary-300: 198 48% 31%;
        --color-primary-200: 199 41% 27%;
        --color-primary-100: 201 37% 24%;
        --color-primary-50: 202 47% 15%;

    }
  }
/* 
* {
    outline: 1px solid pink;
} */
